@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .minw-300 {
        min-width: 300px;
    }

    .maxw-975 {
        max-width: 975px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-hei {
        height: 54px;
        box-sizing: border-box;
    }

    .hei-29 {
        height: 29px;
        margin-top: 8px;
    }

    .bg-insta-gray {
        background-color: #fafafa;
    }

    .dim22{
        height: 22px;
        width: 22px;
    }

    .header-svgs {
        width: 222px;
        padding-left: 24px;
    }

    .search-box {
        position: relative;
    }

    .search-border {
        box-sizing: border-box;
        width: 215px;
        height: 28px;
        padding: 3px 10px 3px 26px;
        border: 1px solid #dbdbdb;
        background: #fafafa;
        text-align: center;
    }

    .search-icon {
        color: #dbdbdb;
        position: absolute;
        top: 11px;
        left: 80px;
        font-size: 10px;
    }

    .search-box:focus-within .search-icon{
        left: 8px;
    }

    .search-box:focus-within .search-border {
        text-align: left;
    }

    .cross-icon {
        font-size: 14px;
        display: none;
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        color: #dbdbdb;
    }

    .search-box:focus-within .cross-icon {
        display: block;
    }

    .profile-avtar {
        height: 22px;
        position: relative;
    }

    .profile-avtar-focus {
        border: 1px solid #000;
    }

    .profile-popup {
        width: 213px;
        position: absolute;
        right: -20px;
        top: 37px;
        background-color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        z-index: 3;
    }

    .profile-links:hover {
        background-color: #f0f2f5;
    }

}