@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .minw-300 {
        min-width: 300px;
    }

    .maxw-975 {
        max-width: 975px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-hei {
        height: 54px;
        box-sizing: border-box;
    }

    .hei-29 {
        height: 29px;
        margin-top: 8px;
    }

    .bg-insta-gray {
        background-color: #fafafa;
    }

    .dim22{
        height: 22px;
        width: 22px;
    }

    .header-svgs {
        width: 222px;
        padding-left: 24px;
    }

    .search-box {
        position: relative;
    }

    .search-border {
        box-sizing: border-box;
        width: 215px;
        height: 28px;
        padding: 3px 10px 3px 26px;
        border: 1px solid #dbdbdb;
        background: #fafafa;
    }

    .search-icon {
        
    }
}